body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#game-app {
    width: 100%;
    max-width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.score-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.coin-icon { width: 45px; }

#score {
    font-size: 50px;
    margin: 0;
    font-weight: 800;
}

#coin-button {
    width: 280px;
    height: 280px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#coin-button:active {
    transform: scale(0.95);
}

#nexalum-img {
    width: 100%;
    border-radius: 50%;
    pointer-events: none; /* Rasm klikni to'sib qo'ymaydi */
    user-select: none;
    -webkit-user-drag: none;
}

.stats-footer { width: 85%; }

.energy-section { font-weight: bold; font-size: 18px; text-align: left; }

.progress-bar {
    width: 100%;
    height: 12px;
    background: #333;
    border-radius: 10px;
    margin-top: 8px;
    overflow: hidden;
}

#energy-fill {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fbc02d, #fff176);
    transition: width 0.1s linear;
}

.plus-one {
    position: absolute;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    animation: floatUp 0.7s ease-out forwards;
    pointer-events: none;
    z-index: 100;
}

@keyframes floatUp {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-120px); }
}
